@import "../../shared/scss/tokens";
@import "../../shared/scss/media";
@import "../../shared/scss/theme_variables";

:host >>> {
  a {
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.meta {
  font-size: $font-size-sm;
  color: $color-subtext;
  font-weight: bold;
  letter-spacing: $letter-spacing-tight;
  margin-bottom: $space-8;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .time {
    padding-left: $space-5;
  }
}

@media #{$mobile-only} {
  .meta {
    font-size: $font-size-md;
    margin-bottom: $space-10;
    .time {
      padding: 0;
      float: right;
    }
  }
}

.meta-collapse {
  margin-bottom: $space-20;
}

.deleted-meta {
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: $letter-spacing-tight;
  margin: $space-30 0;
  a {
    text-decoration: none;
  }
}

.collapse {
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-wide;
  cursor: pointer;
}

.comment-tree {
  margin-left: $space-24;
}

@media #{$tablet-only} {
  .comment-tree {
    margin-left: $space-8;
  }
}

.comment-text {
  font-size: $font-size-base;
  margin-top: 0;
  margin-bottom: $space-20;
  word-wrap: break-word;
  line-height: $line-height-comment;
}

.subtree {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}
