@import "./shared/scss/tokens";
@import "./shared/scss/media";
@import "./shared/scss/theme_variables";

.body-cover {
  width: 100%;
  z-index: 0;
  position: fixed;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 85%;
  min-height: $size-wrapper-min-height;
  margin: 0 auto;
  font-family: $font-family-base;
  font-size: $font-size-base;
  height: 100%;
  line-height: $line-height-base;

   @media #{$mobile-only} {
    width: 100%;
  }
}
