@import "../../shared/scss/tokens";
@import "../../shared/scss/media";
@import "../../shared/scss/theme_variables";

#header {
  color: $color-white;
  padding: $space-6 0;
  line-height: $line-height-header;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 100%;

  @media #{$mobile-only} {
    height: $size-header-mobile;
    position: fixed;
    top: 0;
  }

  a {
    display: inline;
  }
}

.home-link {
  width: $size-home-link;
  height: $size-home-link-height;
}

.logo-inner {
  width: $size-logo-inner;
  position: absolute;
  left: $space-17;
  top: $space-18;
  z-index: -1;
  height: $size-logo-inner;
  border-radius: 50%;

  @media #{$mobile-only} {
    left: $space-16;
    top: $space-12;
  }
}

.logo {
  width: $size-logo;
  padding: $space-3 $space-8 0;

  @media #{$mobile-only} {
    width: $size-logo-mobile;
    padding: 0 0 0 $space-10;
  }
}

h1 {
  font-weight: normal;
  display: inline-block;
  vertical-align:middle;
  margin: 0;
  font-size: $font-size-lg;

  a {
    color: $color-white;
    text-decoration: none;
  }
}

.name {
  margin-right: $space-30;
  margin-bottom: $space-2;

  @media #{$mobile-only} {
    display: none;
  }
}

.header-text {
  position: absolute;
  width: inherit;
  height: $size-header-text-height;
  left: $space-10;
  top: $space-27;
  z-index: -1;

  @media #{$mobile-only} {
    top: $space-22;
  }
}

.left {
  position: absolute;
  left: $space-60;
  font-size: $font-size-lg;

  @media #{$mobile-only} {
    width: 100%;
    left: 0;
  }
}

.header-nav {
  display: inline-block;
  margin-left: $space-20;

  @media #{$mobile-only} {
    margin-left: $space-60;
  }

  a {
    color: $color-white-hsla-90;
    text-decoration: none;
    margin: 0 $space-5;
    letter-spacing: $letter-spacing-nav;

    &:hover {
      color: $color-white;
    }
  }

  .active {
    color: $color-white;
  }
}

.info {
  position: absolute;
  top: 0;
  right: $space-20;
  height: 100%;

  @media #{$mobile-only} {
    right: $space-10;
  }

  img {
    opacity: 0.8;
    width: $size-icon;
    margin-top: $space-21-5;
    display: block;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    @media #{$mobile-only} {
      margin-top: $space-15;
    }
  }
}
