@import "../../scss/media";
@import "../../scss/theme_variables";

ol {
  padding: 0 40px;
  margin: 0;

  @media #{$mobile-only} {
    box-sizing: border-box;
    list-style: none;
    padding: 0 10px;
  }

  li {
    position: relative;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
  }
}

.post {
  padding: 10px 0 10px 5px;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #CECECB;
}

.item-block {
  display: block;
}

.empty-message {
  font-size: 15px;
  padding: 0 40px;

  @media #{$mobile-only} {
    padding: 0 15px;
  }
}
