@import "../../shared/scss/media";
@import "../../shared/scss/theme_variables";

a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  };
}

.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  box-sizing: border-box;
  padding: 8px 0;
  z-index: 0;
}

.author-filter {
  padding: 0 40px 10px;
  font-size: 15px;

  @media #{$mobile-only} {
    padding: 60px 15px 10px;
  }

  label {
    padding-right: 8px;
  }

  input {
    font-family: inherit;
    font-size: 15px;
    padding: 4px 6px;
    max-width: 200px;
  }

  .clear {
    padding-left: 10px;
    cursor: pointer;
  }
}

.no-matches {
  padding: 10px 40px;
  font-size: 15px;

  @media #{$mobile-only} {
    padding: 10px 15px;
  }
}

.nav {
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 17px;

  a {
    @media #{$mobile-only} {
      text-decoration: none;
    }
  }

  @media #{$mobile-only} {
    margin: 20px 0;
    text-align: center;
    padding: 10px 80px;
    height: 20px;
  }

  .prev {
    padding-right: 20px;

    @media #{$mobile-only} {
      float: left;
      padding-right: 0;
    }
  }

  .more {
    @media #{$mobile-only} {
      float: right;
    }
  }
}

.job-header {
  font-size: 15px;
  padding: 0 40px 10px;

  @media #{$mobile-only} {
    padding: 60px 15px 25px 15px;
  }
}
