@import "../shared/scss/tokens";
@import "../shared/scss/media";
@import "../shared/scss/theme_variables";

:host >>> pre {
  white-space: pre-wrap;
}

.profile {
  padding: $space-30;
}

@media #{$mobile-only} {
  .profile {
    padding: $space-110 $space-15 0 $space-15;
  }
  .title-block {
    font-size: $font-size-base;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 $space-75;
  }
  .back-button {
    position: absolute;
    top: 52%;
    width: 0.6rem;
    height: 0.6rem;
    background: transparent;
    box-shadow: 0 0 0 $color-named-lightgray;
    transition: all 200ms ease;
    left: 4%;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
  }
  .item-header {
    padding-bottom: $space-10;
    background-color: $color-white;
    padding: $space-10 0 $space-10 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: $space-62;
    height: $size-header-text-height;
  }
}

@media #{$laptop-only} {
  .mobile {
    display: none;
  }
}

.main-details {
  .name {
    font-weight: bold;
    font-size: $font-size-4xl;
    letter-spacing: $letter-spacing-wide;
  }
  .age {
    font-weight: bold;
    color: $color-subtext;
    padding-bottom: 0;
  }
  .right {
    float: right;
    font-weight: bold;
    font-size: $font-size-4xl;
    letter-spacing: $letter-spacing-wide;
  }
}

@media #{$mobile-only} {
  .main-details {
    margin-top: $space-20;
    .name {
      font-size: $font-size-2xl;
    }
  }
}

@media #{$mobile-only} {
  .main-details .right {
    font-size: $font-size-2xl;
  }
}

.other-details {
  word-wrap: break-word;
}
