@import "../shared/scss/tokens";
@import "../shared/scss/media";
@import "../shared/scss/theme_variables";

.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  box-sizing: border-box;
  padding: $space-8 0;
  z-index: 0;
}

.item {
  box-sizing: border-box;
  padding: $space-10 $space-40 0 $space-40;
  z-index: 0;
}

@media #{$tablet-only} {
  .item {
    padding: $space-10 $space-20 0 $space-40;
  }
}

@media #{$mobile-only} {
  .item {
    box-sizing: border-box;
    padding: $space-110 $space-15 0 $space-15;
  }
}

.head-margin {
  margin-bottom: $space-15;
}

p {
  margin: $space-2 0;
}

.subject {
  word-wrap: break-word;
  margin-top: $space-20;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media #{$mobile-only} {
  .laptop {
    display: none;
  }
}

@media #{$laptop-only} {
  .mobile {
    display: none;
  }
}

.title {
  font-size: $font-size-lg;
  font-family: $font-family-title;
}

.title-block {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 $space-75;
}

@media #{$mobile-only} {
  .title {
    font-size: $font-size-base;
  }
  .back-button {
    position: absolute;
    top: 52%;
    width: 0.6rem;
    height: 0.6rem;
    background: transparent;
    box-shadow: 0 0 0 $color-named-lightgray;
    transition: all 200ms ease;
    left: 4%;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
  }
}

.subtext {
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: $letter-spacing-tight;
}

.domain {
  letter-spacing: $letter-spacing-tight;
}

.subtext a {
  &:hover {
    text-decoration: underline;
  }
}

.item-details {
  padding: $space-10;
}

.item-header {
  padding-bottom: $space-10;
}

@media #{$mobile-only} {
  .item-header {
    padding: $space-10 0 $space-10 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: $space-62;
  }
}

.pollResults {
  margin-bottom: 1em;
}

.pollContent {
  * {
    padding-bottom: 0;
    margin-bottom: -1em;
    margin-top: 1em;
  }
  .pollBar {
    height: $size-poll-bar;
    margin-bottom: 1em;
  }
}

ul {
  list-style-type: none;
  padding: $space-10 0;
}

li {
  display: list-item;
}
