@import "../../shared/scss/tokens";
@import "../../shared/scss/media";
@import "../../shared/scss/theme_variables";

p {
    margin: $space-2 0;

    @media #{$mobile-only} {
      margin-bottom: $space-5;
      margin-top: 0;
   }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .title {
    font-size: $font-size-lg;
    font-family: $font-family-title;
  }

  .subtext-laptop {
    font-size: $font-size-xs;
    font-weight: bold;
    letter-spacing: $letter-spacing-tight;

    a {
      &:hover {
        text-decoration: underline;
      };
    }
    @media #{$mobile-only} {
      display: none;
    }
  }

  .subtext-palm {
    font-size: $font-size-sm;
    font-weight: bold;
    letter-spacing: $letter-spacing-tight;

    a {
      &:hover {
        text-decoration: underline;
      };
    }

    .details {
      margin-top: $space-5;

      .right {
        float: right;
      }
    }
    @media #{$laptop-only} {
      display: none;
    }
  }

  .domain {
    color: $color-subtext;
    letter-spacing: $letter-spacing-tight;
  }

  .item-details {
    padding: $space-10;
  }
