<div id="popup1" class="overlay">
    <div class="popup">
        <h1>Settings</h1>
        <hr>
        <span class="close" (click)="closeSettings()">&times;</span>
        <div class="content">
            <div class="control-section">
                <h2>Links</h2>
                <input 
                    type="checkbox" 
                    [checked]="settings.openLinkInNewTab" 
                    (change)="toggleOpenLinksInNewTab()" />
                    Open links in a new tab
            </div>
            <div class="theme-controls">
                <div class="control-section">
                    <h2>Appearance</h2>
                    <div>
                        <label>
                        <input #modeSystem
                            name="themeMode"
                            type="radio"
                            value="system"
                            [checked]="settings.themeMode === modeSystem.value"
                            (click)="selectThemeMode(modeSystem.value)" />
                            System
                        </label>
                    </div>
                    <div>
                        <label>
                        <input #modeLight
                            name="themeMode"
                            type="radio"
                            value="light"
                            [checked]="settings.themeMode === modeLight.value"
                            (click)="selectThemeMode(modeLight.value)" />
                            Light
                        </label>
                    </div>
                    <div>
                        <label>
                        <input #modeDark
                            name="themeMode"
                            type="radio"
                            value="dark"
                            [checked]="settings.themeMode === modeDark.value"
                            (click)="selectThemeMode(modeDark.value)" />
                            Dark
                        </label>
                    </div>
                </div>
                <div class="control-section">
                    <h2>Extra Themes</h2>
                    <div>
                        <label>
                        <input
                            #amoledblack
                            name="extraTheme"
                            type="radio"
                            value="amoledblack"
                            [checked]="settings.theme === amoledblack.value"
                            (click)="selectTheme(amoledblack.value)" />
                            Black (AMOLED)
                        </label>
                    </div>
                    <div>
                        <label>
                        <input
                            #solarized
                            name="extraTheme"
                            type="radio"
                            value="solarized"
                            [checked]="settings.theme === solarized.value"
                            (click)="selectTheme(solarized.value)" />
                            Solarized
                        </label>
                    </div>
                </div>
                <div class="control-section">
                    <h2>Change Font</h2>
                    <div>
                        <label>
                        Font size:
                        <input 
                            #titleFont 
                            min="1" 
                            [value]="settings.titleFontSize" 
                            name="titleFont" 
                            type="number" 
                            (keyup)="changeTitleFont(titleFont.value)" />
                        </label>
                    </div>
                    <div>
                        <label>
                        List spacing:
                        <input 
                            #listSpacing 
                            min="0" 
                            [value]="settings.listSpacing" 
                            name="listSpacing" 
                            type="number" 
                            (keyup)="changeSpacing(listSpacing.value)" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
